body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.nav_links{
    justify-content: space-around;

}

.card header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.card{
    flex-basis: 450px;
}