@media screen {

body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


a:visited{
    color:blue;
}

.nav_links{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-around;
}


.card header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: inherit;
}

.pricing{
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    flex-basis: 450px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

    /* align-content: flex-start; */
}
#logo {
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes logo {
    from {width: 50px; opacity: 0;}
    to {width: 425px; opacity: 1;}
  }

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

}
@media screen and (min-width: 850px){
    header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        top: 0;
        left: 0;
        position:sticky;
    } 

    .nav_links{
        justify-content: space-between;
        flex-flow: row wrap;
    }
    
    .pricing{
        flex-direction: row;
    }

    .card{
        flex-basis: 250px;
    }

    /* .card{
        flex-flow: row wrap;
        flex-basis: 250px;
    } this isn't working right  */



}


@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    .skip a{
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
  }

  /* still to do- keyframe animation, card class flex wrap 
  to match for larger screens, and reduced motion */

  @media print{
      body{
        background-image: none;
      }

      nav{
          display: flex;
          justify-content: space-around;
          flex-direction: row;
      }

      .nav_links{
          justify-content: space-around;
      }

      .pricing{
          display: flex;
          align-items: flex-end;
      }

      .card{
          border: solid 2px #45ADDD;
          flex-basis: 250px;
      }

      .gallery{
        display: none;
      }
  }
